<h1>Discover</h1>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= link_to image_tag(post.asset.url(:small)), user_post_path(post.owner_id, post) %>
  <% end %>
<% else %>
  <p>There are no posts yet!</p>
<% end %>
<%= link_to "New Post", new_user_post_path(current_user) %>
<%= link_to "My Posts", user_posts_path(current_user, @posts) %>
